.weather-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  .city-grid{
      display: flex;
      width: 100%;
  }
 
}
.sea-wrapper {
  width: 319px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
    border: 1px solid #cccc;
    margin: 10px;
  .sea-level {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}
