.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
  .Wrapper-cities {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
