.card-wrapper{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid #cccc;
    margin: 10px;
    .city-wrapper{
        display: flex;
    }
    .city-name{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

    }
   
    .sun {
        display: flex;
        justify-content: space-between;
        .suntime{
            display: flex;
            flex-direction: column;
            .title{
                font-size: 18px;
                font-weight: 500;
                line-height: 2;
                color: #777070;

            }
        }
    }
}